.mainTable {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;

}

.mainTable a {
    text-decoration: none;
    padding: 0.7rem 1.6rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: var(--blue-secondary-color);
    color: var(--light-color);
    letter-spacing: 0.5px;
    /* border: 0.5px solid white; */
}

.mainTable table {
    border-collapse: collapse;
    width: 30%;
    border-radius: 10px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}


.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btnBack {
    margin: 0 auto 50px;
    color: inherit;
    text-transform: uppercase;
    padding: 0.7rem 1.6rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.gk {
    background-color: green;
}

.df {
    background-color: brown;
}

.mf {
    background-color: rgb(103, 102, 120);
}

.fr {
    background-color: crimson;
}

@media screen and (max-width: 426px) {
    .btnBack {
        padding: 0.7rem 1.5rem;
        font-size: 1.3rem;
    }
}