.liDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--light-color);
    padding: 2.1rem 1.5rem 1rem 1rem;
    position: relative;
    background-color: rgb(62, 54, 97);
    border-radius: 10px;
}

.liDiv:hover {
    background-color: rgb(71, 33, 105);
    transition: 0.3s;
}

.liDiv div {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* padding: 0 0.4rem; */
}

.liDiv div:not(:last-child) {
    margin-bottom: 15px;
}

.liDiv div span:last-child {
    margin-left: auto;
}

.flag {
    width: 2rem;
    height: 2rem;

}

.teamName {
    font-size: 1rem;
    color: var(--light-color);
}

.date {
    padding: 5px;
    font-size: 0.7rem;
    color: var(--light-color);
    /* position: absolute;
    left: 40%; */
    margin: -15px 0 5px 60px;
}

.text {
    font-size: 0.75rem;
    color: var(--light-color);
    position: absolute;
    top: 5%;
    padding-bottom: 5px;
    font-style: italic;
}

.score {
    color: var(--light-color);
}