.groupResult {
    text-align: center;
    background-color: rgb(78, 81, 151);
    box-shadow: 1px 1px 1px rgba(73, 73, 158, 0.523);
    border-radius: 10px;
}

.groupResult:hover {
    background-color: rgb(57, 58, 173);
    transition: 0.3s;
}

.container {
    padding: 1.5rem 0 1.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
    color: var(--light-color);
}

.date {
    font-size: 0.7rem;
    color: var(--light-color);
}